/* assets/style.css */
.header {
  text-align: center;
  padding: 600px 0;
  width: 100%;
  background-color: black;
}

.content-container {
  padding-top: 50px; /* Add padding to create the scroll effect */
}

h1 {
  font-size: 36px;
  color: #333;
}

.scroll-text {
  font-size: 18px; /* Adjust the font size as needed */
  margin-top: 10px; /* Add some spacing from the title */
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}


.button {
  display: inline-block;
  padding: 15px 30px; /* Increased padding for a bigger button */
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px; /* Slightly larger font size */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slight scaling effect on hover */
}

.button-image {
  display: inline-block;
  width: 350px; /* Set the initial width of your image */
  height: 350px;
  background-image: url('../assets/images/Stanford-pic.png'); /* Relative path to your image */
  background-size: cover;
  text-indent: -9999px;
  border-radius: 10px; /* Rounded edges */
  transition: transform 0.2s, filter 0.2s; /* Add transition effects */
}

.button-image:hover {
  transform: scale(1.05); /* Slight scaling on hover */
  filter: brightness(85%); /* Gray highlight on hover */
}

.button-image:hover + .caption {
  font-size: 18px; /* Increase font size on hover */
}

.caption {
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
  font-weight: bold;
  transition: font-size 0.2s; /* Add transition effect for font size */
}
