.header {
  text-align: center;
  width: 100%;
  background-color: black;
  padding: 500px 0;
}

.content-container {
  padding-top: 50px;
}

h1 {
  font-size: 36px;
  color: #FFFFFF;
}

.scroll-text {
  font-size: 18px;
  margin-top: 500px; 
  margin-bottom: 0px;
  width: 50%;
  text-align: center;
}

.scroll-text:hover{
  transform: scale(1.05);
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}


.button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px; 
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05); 
}

.button-image {
  display: inline-block;
  width: 350px; 
  height: 350px;
  background-image: url('../assets/images/Stanford-pic.png');
  background-size: cover;
  text-indent: -9999px;
  border-radius: 10px; 
  transition: transform 0.2s, filter 0.2s; 
}

.button-image:hover {
  transform: scale(1.05); 
  filter: brightness(85%); 
}

.button-image:hover + .caption {
  font-size: 18px; 
}

.caption {
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
  font-weight: bold;
  transition: font-size 0.2s; 
}
